﻿@model BuenoOffice.ViewModels.Contact.ContactMessageViewModel
@{
    ViewBag.Title = "Contato";
}

<section id="contact-info">
    <div class="center">
        <h2>Onde estamos?</h2>
        <p class="lead">Venha conhecer nosso estabelecimento e faça um orçamento.</p>
    </div>
    <div class="container">
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-success">
                <strong>Enviado!</strong> @ViewBag.Message
            </div>
        }
        else if (ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-danger">
                <strong>Falha!</strong> @ViewBag.Message
            </div>
        }
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.6608217312482!2d-46.74409139915166!3d-23.61649419457491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce56af2a796b67%3A0xeea4e1f39d58e41!2sRua+Dr.+Luiz+Migliano%2C+1297+-+Jardim+Cabor%C3%A9%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1501110107191" width="400" height="300" frameborder="0" style="border: 0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
                                <h5>Unidade Morumbi</h5>
                                <p>
                                    Endereço: Rua Dr. Luiz Migliano, 1297 <br>
                                    São Paulo - SP
                                </p>
                                <p>
                                    Telefone: (11) 3742-6537 <br>
                                    Email: mecanicabueno@gmail.com
                                </p>
                                <p>
                                    Horário de atendimento: De segunda-feira a sexta-feira <br>
                                    Das 8:00 da manha até 6:00 da tarde.
                                </p>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Deixe sua mensagem</h2>
            <p class="lead">Responderemos o mais rápido possível. Prazo de resposta de uma semana útil.</p>
        </div>
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("SendMessage", "Contact", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { id = "nameLabel" })
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", id = "nameText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Name)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { id = "emailLabel" })
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", id = "emailText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Email)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { id = "phoneLabel" })
                        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", id = "phoneNumber" } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Car, new { id = "carLabel" })
                        @Html.EditorFor(m => m.Car, new { htmlAttributes = new { @class = "form-control", id = "carText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Car)
                        </p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Subject, new { id = "subjectLabel" })
                        @Html.EditorFor(m => m.Subject, new { htmlAttributes = new { @class = "form-control", id = "subjectText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Subject)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Message, new { id = "messageLabel" })
                        @Html.EditorFor(m => m.Message, new { htmlAttributes = new { @class = "form-control", rows = "8", cols = "20", id = "messageText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Message)
                        </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Enviar!</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
