﻿@{
    ViewBag.Title = "Validação de conta";
}

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="alert alert-danger">
            <strong>Ops!</strong> @ViewBag.Message
        </div>
    </div>
</section>

