﻿@{
    ViewBag.Title = "Ativação de conta";
}

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-success">
                <strong>Ativado!</strong> @ViewBag.Message Click no link para @Html.ActionLink("acessar", "Index", "User")
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Erro!</strong> @ViewBag.Message
            </div>
        }
    </div>
</section>

