﻿@model BuenoOffice.ViewModels.User.UserEditViewModel
@{
    ViewBag.Title = "Edição de conta";
}

<script src="~/Scripts/user.js" type="text/javascript"></script>

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="center">
            <h2>Edite sua conta</h2>
            <p class="lead">Preencha o formulario abaixo com as alterações desejadas.</p>
        </div>
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-success">
                <strong>Finalizado!</strong> @ViewBag.Message
            </div>
        }
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "contact-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Email", Model.Email)
                @Html.Hidden("Image", Model.Image)
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="gmap">
                        @{
                            var imageSrc = "";
                            if (Model.Image != null)
                            {
                                var memoryStream = new MemoryStream();
                                memoryStream.Write(Model.Image, 0, Model.Image.Length);
                                var imageBase64 = Convert.ToBase64String(memoryStream.ToArray());
                                imageSrc = $"data:image/jpeg;base64,{imageBase64}";
                            }
                            <img src="@imageSrc" alt="Image" />
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Image, new { id = "imageLabel" })
                        <input type="file" name="file" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { id = "firstNameLabel" })
                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", id = "firstNameText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { id = "lastNameLabel" })
                        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", id = "lastNameText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.LastName)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { id = "phoneLabel" })
                        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", id = "phoneNumber" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Phone)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Birthday, new {id = "birthdayLabel"})
                        @Html.EditorFor(m => m.Birthday, new {htmlAttributes = new {@class = "form-control", id = "birthdayText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Birthday)
                        </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Alterar</button>
                    </div>
                </div>
             }
        </div>
    </div>
</section>

