﻿@model BuenoOffice.ViewModels.User.EmployeeRegistrationViewModel
@{
    ViewBag.Title = "Cadastrar empregado";
}

<script src="~/Scripts/employee.js" type="text/javascript"></script>

<section id="feature">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Cadastro de novo funcionario</h2>
            <p class="lead">Digite o nome do novo funcionario a ser criado</p>
        </div>
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-success">
                <strong>Concluido!</strong> @ViewBag.Message
            </div>
        }
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("RegisterEmployee", "User", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(m => m.EmployeeMail, new { id = "employeeNameLabel" })
                        @Html.EditorFor(m => m.EmployeeMail, new { htmlAttributes = new { @class = "form-control", id = "employeeNameText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.EmployeeMail)
                        </p>
                    </div>
                    <div>
                        <button type="submit" name="submit" id="employeeCreator" class="btn btn-primary btn-lg">Concluir</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

