﻿@using PagedList.Mvc;
@model BuenoOffice.ViewModels.User.EmployeeManagementViewModel
@{
    ViewBag.Title = "Gerenciar Empregados";
    var hasEmployee = Model.Data != null && Model.Data.Count > 0;
}

<script src="~/Scripts/employee-manager.js" type="text/javascript"></script>

<section id="contact-page">
    <br />
    <br />
    <div class="container">
        <div class="center">
            <h2>Gerenciamento de empregados</h2>
            <p class="lead">Utilizando o filtro, gerencie seus empregados.</p>
        </div>
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("SearchEmployeeByName", "User", FormMethod.Post, new { @class = "search-filter", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PageNumber)
                @Html.HiddenFor(m => m.PageSize)
                <div>
                    <div class="faq-manager">
                        @Html.LabelFor(m => m.EmployeeName, new { id = "employeeLabel" })
                        @Html.EditorFor(m => m.EmployeeName, new { htmlAttributes = new { @class = "form-control", id = "employee-search" } })
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Procurar</button>
                    </div>
                </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
                <tr>
                    <th>
                        Nome:
                    </th>
                    <th>
                        Sobrenome:
                    </th>
                    <th>
                        Email:
                    </th>
                    <th>
                        Contato:
                    </th>
                    <th>
                        Data de nascimento:
                    </th>
                    <th>
                        Ação:
                    </th>
                </tr>
                <tbody>
                @if (hasEmployee)
                {
                    foreach (var employee in Model.Data)
                    {
                        <tr>
                            <td>
                                @employee.FirstName
                            </td>
                            <td>
                                @employee.LastName
                            </td>
                            <td>
                                @employee.Email
                            </td>
                            <td>
                                @employee.Phone
                            </td>
                            <td>
                                @employee.Birthday.ToString("d")
                            </td>
                            <td>
                                <button id="@employee.Id" type="reset">Remover</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Nenhum empregado foi encontrado em sua busca.</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        @Html.Partial("_BaseModal")
        @if (hasEmployee)
        {
            @Html.PagedListPager(Model, page => Url.Action("GetEmployeeManagerByPage", new { currentSearch = Model.EmployeeName, pageNumber = page, pageSize = Model.PageSize }))
            <div class="faq-manager-page-size">
                @Html.LabelFor(m => m.PageSize, new { id = "pageSizeLabel" }) @Model.PageSize
            </div>
        }
    </div>
</section>
