﻿@model BuenoOffice.ViewModels.User.UserBaseEmail
@{
    ViewBag.Title = "Esqueci minha senha";
}

<section id="feature">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Esqueceu sua senha?</h2>
            <p class="lead">Digite seu e-mail cadastrado, para que possamos enviar as instruções para você gerar uma nova senha!</p>
        </div>
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-success">
                <strong>Enviado!</strong> @ViewBag.Message
            </div>
        }
        else if(ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-danger">
                <strong>Erro!</strong> E-mail inválido!
            </div>
        }
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("RequestNewPassword", "User", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                <div class="center">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "emailText" })
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Redefinir!</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

