﻿@model BuenoOffice.ViewModels.User.UserLoginViewModel
@{
    ViewBag.Title = "Acessar";
}

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="center">
            <h2>Acesse sua conta</h2>
            <p class="lead">Informe seu email e senha correpondente.</p>
        </div>
        <div class="row contact-wrap">
            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                <div class="alert alert-success">
                    <strong>Finalizado!</strong> @ViewBag.Message
                </div>
            }
            else if (ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status))
            {
                <div class="alert alert-danger">
                    <strong>Erro!</strong> @ViewBag.Message
                </div>
            }
            @using (Html.BeginForm("LoginUser", "User", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { id = "emailLabel" })
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", id = "emailText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Email)
                        </p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { id = "passwordLabel" })
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", id = "passwordText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Password)
                        </p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.RememberMe, new { id = "rememberLabel" })
                        @Html.CheckBoxFor(m => m.RememberMe, new { htmlAttributes = new { @class = "form-control", id = "rememberCheck" } })
                    </div>

                    <div class="form-group">
                        @Html.ActionLink("Esqueceu sua senha?", "ForgottenPassword", "User")
                    </div>

                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Acessar!</button>
                    </div>

                    <div class="form-group">
                        Não tem conta?  @Html.ActionLink("CADASTRE-SE.", "Registration", "User")
                    </div>

                </div>
            }
        </div>
    </div>
</section>

