﻿@{
    ViewBag.Title = "Validação de conta";
}

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="alert alert-danger">
            <strong>Erro!</strong> Algum erro ocorreu, link inválido ou expirado!
        </div>
    </div>
</section>

