﻿@model BuenoOffice.ViewModels.User.UserRegistrationViewModel
@{
    ViewBag.Title = "Cadastro";
}

<script src="~/Scripts/user.js" type="text/javascript"></script>

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="center">
            <h2>Crie sua conta</h2>
            <p class="lead">Preencha o formulario abaixo e tenha acesso ao sistema com sua conta personalizada.</p>
        </div>
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("RegisterUser", "User", FormMethod.Post, new {enctype = "multipart/form-data", @class = "contact-form", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Image, new {id = "imageLabel"})
                        <input type="file" name="file" />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new {id = "emailLabel"})
                        @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class = "form-control", id = "emailText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Email)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new {id = "passwordLabel"})
                        @Html.EditorFor(m => m.Password, new {htmlAttributes = new {@class = "form-control", id = "passwordText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Password)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new {id = "confirmPasswordLabel"})
                        @Html.EditorFor(m => m.ConfirmPassword, new {htmlAttributes = new {@class = "form-control", id = "confirmPasswordText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.TermsAndConditions, new {htmlAttributes = new {@class = "form-control", id = "termsAndConditions"}})
                        Concordo com os @Html.ActionLink("Termos e Condições", "TermsAndConditions", "User") da Mecânica Bueno
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { id = "firstNameLabel" })
                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", id = "firstNameText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new {id = "lastNameLabel"})
                        @Html.EditorFor(m => m.LastName, new {htmlAttributes = new {@class = "form-control", id = "lastNameText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.LastName)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new {id = "phoneLabel"})
                        @Html.EditorFor(m => m.Phone, new {htmlAttributes = new {@class = "form-control", id = "phoneNumber"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Phone)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Birthday, new {id = "birthdayLabel"})
                        @Html.EditorFor(m => m.Birthday, new {htmlAttributes = new {@class = "form-control", id = "birthdayText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.Birthday)
                        </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" id="createButton" class="btn btn-primary btn-lg">Criar!</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

