﻿@model BuenoOffice.ViewModels.User.UserResetPasswordViewModel
@{
    ViewBag.Title = "Alterar senha";
}

<section id="feature">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Alterar senha atual </h2>
            <p class="lead">Digite sua atual senha e a nova senha desejada!</p>
        </div>
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-success">
                <strong>Finalizado!</strong> @ViewBag.Message
            </div>
        }
        else if(ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-danger">
                <strong>Erro!</strong> @ViewBag.Message
            </div>
        }
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Email", Model.Email)
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CurrentPassword, new { id = "currentPasswordLabel" })
                        @Html.EditorFor(m => m.CurrentPassword, new { htmlAttributes = new { @class = "form-control", id = "currentPasswordText" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.CurrentPassword)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new {id = "NewPasswordLabel"})
                        @Html.EditorFor(m => m.NewPassword, new {htmlAttributes = new {@class = "form-control", id = "newPasswordText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmNewPassword, new {id = "confirmNewPasswordLabel"})
                        @Html.EditorFor(m => m.ConfirmNewPassword, new {htmlAttributes = new {@class = "form-control", id = "confirmNewPasswordText"}})
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                        </p>
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Finalizar!</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

