﻿@{
    ViewBag.Title = "Termos e Condições";
}

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="center">
            <h2>Termos e Condições de uso do site</h2>
            <p class="lead">Informações legais e condições.</p>
        </div>
        <div class="terms-and-conditions">
            <p>Este site e todo o seu conteúdo ("<b>Site</b>") são de propriedade exclusiva da <b>MECÂNICA BUENO LTDA</b>, sociedade empresária limitada, inscrita no CNPJ/MF sob nº XX.XXX.XXX/XXXX-XX, com sede na Rua Dr. Luiz Migliano, n° 1297, Jardim Caboré, CEP 05711-001, São Paulo/SP (<b>"Mecânica Bueno"</b>).</p>
            <p>Estes Termos e Condições de Uso do Site ("<b>Termos de Uso</b>") regulam os termos e condições para que o Usuário acesse e utilize as ferramentas disponíveis no Site.</p>
            <p>O acesso, cadastro e uso do Site e de suas funcionalidades implicam na aceitação total das disposições destes Termos de Uso. Caso você não concorde com alguma disposição aqui presente, não utilize o Site.</p>
            <p>Todos os colaboradores e parceiros da Mecânica Bueno são instruídos a seguir as disposições destes Termos de Uso e o código de ética interno da Mecânica Bueno. Caso os Usuários tomem ciência de quaisquer práticas por quaisquer colaboradores ou parceiros da Mecânica Bueno que estejam em desacordo com estes Termos de Uso poderão entram em contato com a Mecânica Bueno pelos seus canais de atendimento para denunciar tais práticas a fim de que a Mecânica Bueno tome providências para remediá-las e/ou fazer com que sejam interrompidas.</p>

            <br />
            <h5>A — DAS CONDIÇÕES DE ACESSO</h5>
            <br />

            <p>O acesso e o uso do Site, são liberados apenas a usuários maiores de 18 (dezoito) anos, residentes e domiciliados no Brasil ("<b>Usuários</b>").</p>
            <p>Para que o Usuário possa acessar o Site e utilizar as suas funcionalidades, é necessário realizar um cadastro prévio e fornecer Informações Pessoais, conforme definidas na Política de Privacidade e Segurança de Dados da Mecânica Bueno ("<b>Política de Privacidade</b>"), que faz parte integrante dos presentes Termos de Uso.</p>
            <p>A Mecânica Bueno não se responsabiliza por quaisquer consequências geradas a partir de informações falsas, errôneas e/ou inexatas prestadas pelo Usuário.</p>

            <br />
            <h5>B — DA ESTIMATIVA PRÉVIA DE PREÇO</h5>
            <br />

            <p>O Site dispõe de uma funcionalidade que permite ao Usuário inserir informações sobre seu veículo e obter um orçamento prévio com o preço pelo qual o serviço de mecânica será cobrado (o "<b>Orçamento</b>"), calculada de acordo com as métricas da Mecânica Bueno e de informações gerais do mercado de carros.</p>
            <p>A Mecânica Bueno não se responsabiliza por quaisquer consequências geradas a partir de informações falsas, errôneas e/ou inexatas prestadas pelo Usuário.</p>
            <p>O Usuário entende e concorda que o Orçamento obtido no Site não é vinculante para a Mecânica Bueno pois depende exclusivamente das informações disponibilizadas pelo próprio Usuário à Mecânica Bueno no momento da solicitação de orçamento do Site, e a Mecânica Bueno não dispõe de ferramentas para checar a precisão e veracidade destas informações naquele momento.</p>

            <br />
            <h5>C — PROPRIEDADE INTELECTUAL</h5>
            <br />

            <p>Todos os direitos relativos ao Site, bem como às suas funcionalidades são de titularidade exclusiva da Mecânica Bueno, inclusive no que diz respeito ao software, seus textos, imagens, layouts, códigos, bases de dados, gráficos, relatórios demais conteúdos produzidos direta ou indiretamente pela Mecânica Bueno.</p>

            <br />
            <h5>D — LIMITAÇÃO DE RESPONSABILIDADE</h5>
            <br />

            <p>O Site pode conter links ou ligações a sites ou serviços de terceiros que não pertencem e nem são controlados pela Mecânica Bueno, de forma que a Mecânica Bueno não assume qualquer responsabilidade pelo conteúdo, precisão, políticas, práticas, opiniões expressas em qualquer desses sites de terceiros ou por qualquer terceiro que o Usuário interaja através do Site.</p>
            <p>A Mecânica Bueno utiliza serviços de terceiros para manter o funcionamento do Site (por exemplo, servidores de hospedagem), podendo, portanto, eventualmente ocorrer falhas em tais serviços. A Mecânica Bueno não será responsável por quaisquer perdas e danos decorrentes de falha dos serviços destes terceiros, mas, na medida do possível, manterá o Usuário informado sobre prazo e providências que estão sendo tomadas para sanear referida falha.</p>
            <p><b>A Mecânica Bueno não se responsabiliza pelas falhas de acesso ou navegação no Site decorrentes de circunstâncias alheias à sua vontade e controle, inclusive, sem limitação, falhas na internet em geral, quedas de energia, mau funcionamento eletrônico e/ou físico de qualquer rede de telecomunicações, interrupções ou suspensões de conexão e falhas de software e/ou hardware do usuário, bem como paralisações programadas para manutenção, atualização e ajustes de configuração do Site.</b></p>

            <br />
            <h5>E — FRAUDES</h5>
            <br />

            <p>Qualquer tentativa, direta ou indireta, bem-sucedida ou não, de copiar, armazenar, ou de qualquer forma acessar qualquer informação contida no Site para fins que não sejam expressamente autorizados pela Mecânica Bueno tornará o autor, bem como seus mandantes, defensores, encorajadores e ajudantes, passível das ações legais pertinentes e da responsabilidade de indenizar a Mecânica Bueno por eventuais danos causados.</p>

            <br />
            <h5>F — ALTERAÇÕES NOS TERMOS DE USO</h5>
            <br />

            <p>A Mecânica Bueno poderá alterar estes Termos de Uso a qualquer momento, em virtude de alterações na legislação ou nos serviços, em decorrência da utilização de novas ferramentas tecnológicas ou, ainda, sempre que, a exclusivo critério da Mecânica Bueno, tais alterações se façam necessárias, razão pela qual recomendamos a leitura periódica destes Termos de Uso.</p>
            <p>A utilização do Site Mecânica Bueno por qualquer Usuário implicará em expressa aceitação quanto aos termos e condições dos Termos de Uso vigente na data de sua utilização.</p>
            <p>Se qualquer dispositivo dos Termos de Uso for declarado inválido ou inexequível de acordo com o direito aplicável, então o dispositivo inválido ou inexequível será considerado substituído por um dispositivo válido e executável que se aproxime mais da intenção do dispositivo original, e as cláusulas remanescentes dos Termos de Uso devem continuar em vigor.</p>

            <br />
            <h5>G — ADEQUAÇÃO ÀS LEIS E REGULAMENTOS</h5>
            <br />

            <p>A Mecânica Bueno respeita e obedece a todas as leis e regulamentos aplicáveis às suas atividades e espera que todos os terceiros façam o mesmo. Entretanto, a Mecânica Bueno não pode garantir e não assume nenhuma responsabilidade pelo cumprimento pelos terceiros de quaisquer leis ou regulamentos. Ao utilizar o Site e os Serviços da Mecânica Bueno, o Lojista declara estar ciente, entender e concordar que é exclusiva e totalmente responsável pelo cumprimento de todas e quaisquer leis, normas, regulamentos e obrigações legais e fiscais que possam ser aplicadas ao uso do Site e do Serviços.</p>

            <br />
            <h5>H — CONTATO</h5>
            <br />

            <p>Quaisquer dúvidas ou situações acerca destes Termos de Uso ou ainda qualquer solicitação que o Usuário deseje fazer com relação às Informações Pessoais ou preferências armazenadas pelo Site, deverão ser enviadas à Mecânica Bueno através do e-mail mecanicabueno@gmail.com ou na opção contato no Site.</p>

            <br />
            <h5>I — POLÍTICA DE PRIVACIDADE</h5>
            <br />

            <p><b>A Mecânica Bueno respeita e obedece a todas as leis e regulamentos aplicáveis às suas atividades e espera que todos os terceiros façam o mesmo. Entretanto, a Mecânica Bueno não pode garantir e não assume nenhuma responsabilidade pelo cumprimento pelos terceiros de quaisquer leis ou regulamentos. Ao utilizar o Site e os Serviços da Mecânica Bueno, o Lojista declara estar ciente, entender e concordar que é exclusiva e totalmente responsável pelo cumprimento de todas e quaisquer leis, normas, regulamentos e obrigações legais e fiscais que possam ser aplicadas ao uso do Site e do Serviços.</b></p>
            
            <br />
            <h5>J — LEI APLICÁVEL E RESOLUÇÃO DE CONFLITOS</h5>
            <br />
            
            <p>Toda e qualquer controvérsia oriunda dos termos expostos nos presentes Termos de Uso será solucionado de acordo com a lei brasileira, sendo competente o Foro da Comarca de São Paulo/SP, com exclusão de qualquer outro por mais privilegiado que seja.</p>
            <br />
            <p>Estes Termos de Uso foram publicados em 26.05.2018.</p>

        </div>
    </div>
</section>
