﻿@{
    ViewBag.Title = "Validação de conta";
}

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            <div class="alert alert-success">
                <strong>Falta pouco!</strong> Para finalizar, acesse o link que foi enviado para o seu email para ativar sua conta!
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Erro!</strong> Algum erro ocorreu, por favor tente novamente mais tarde!
            </div>
        }
    </div>
</section>

