﻿@model BuenoOffice.ViewModels.Faq.FaqAnswerViewModel

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">FAQ</h4>
    </div>
    @using (Html.BeginForm("CompleteFaq", "Faq", FormMethod.Post, new { @class = "contact-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("Question", Model.Question)
            @Html.Hidden("QuestionDate", Model.QuestionDate)
            @Html.DisplayTextFor(m => m.Question)
            <br/>
            <br/>
            @Html.EditorFor(m => m.Answer, new {htmlAttributes = new {@class = "form-control", id = "answerModal"}})
        </div>
        <div class="modal-footer">
            <button id="disabledMod" value="@Model.Id" type="button" class="btn btn-default" data-dismiss="modal">Desativar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="modal-submit-button btn btn-primary">Salvar</button>
        </div>
    }
</div>  
