﻿@using PagedList.Mvc;
@model BuenoOffice.ViewModels.Faq.FaqManagerViewModel
@{
    ViewBag.Title = "Gerenciar FAQ";
    var hasFaq = Model.Data != null && Model.Data.Count > 0;
}

<script src="~/Scripts/faq-manager.js" type="text/javascript"></script>

<section id="contact-page">
    <br />
    <br />
    <div class="container">
        <div class="center">
            <h2>Gerenciamento FAQ</h2>
            <p class="lead">Utilizando o filtro, gerencie seus FAQs.</p>
        </div>
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("SearchFaqByQuestionAndStatusAndPage", "Faq", FormMethod.Post, new { @class = "search-filter", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PageNumber)
                @Html.HiddenFor(m => m.PageSize)
                <div>
                    <div class="faq-manager">
                        @Html.LabelFor(m => m.Search, new { id = "searchLabel" })
                        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { @class = "form-control", id = "search" } })
                    </div>
                    <div class="faq-manager">
                        @Html.LabelFor(m => m.SelectFaqStatusId, new { id = "faqStatusLabel" })
                        @Html.DropDownListFor(m => m.SelectFaqStatusId, Model.FaqStatus, new { @class = "form-control", id = "faqStatusDropDown" })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.SelectFaqStatusId)
                        </p>
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Procurar</button>
                    </div>
                </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
                <tr>
                    <th>
                        Pergunta:
                    </th>
                    <th>
                        Pergunta feita no dia:
                    </th>
                    <th>
                        Resposta:
                    </th>
                    <th>
                        Resposta feita no dia:
                    </th>
                </tr>
                <tbody>
                @if (hasFaq)
                {
                    foreach (var faq in Model.Data)
                    {
                        <tr id="@faq.Id">
                            <td>
                                @faq.Question
                            </td>
                            <td>
                                @faq.QuestionDate.ToString("d")
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(faq.Answer))
                                {
                                    @faq.Answer
                                }
                            </td>
                            <td>
                                @if (faq.AnswerDate != null)
                                {
                                    @faq.AnswerDate.Value.ToString("d")
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">A busca desejada não retornou nada.</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        @Html.Partial("_BaseModal")
        @if (hasFaq)
        {
            @Html.PagedListPager(Model, page => Url.Action("GetFaqManagerByPage", new { search = Model.Search, faqStatusId = Model.SelectFaqStatusId, pageNumber = page, pageSize = Model.PageSize }))
            <div class="faq-manager-page-size">
                @Html.LabelFor(m => m.PageSize, new { id = "pageSizeLabel" }) @Model.PageSize
            </div>
        }
    </div>
</section>
