﻿@model BuenoOffice.ViewModels.Faq.FaqViewModel
@{
    ViewBag.Title = "Faq";
}

<section id="feature">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Como podemos lhe ajudar?</h2>
            <p class="lead">Digite palavras-chave para encontrar sua resposta!</p>
        </div>
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("SearchQuestion", "Faq", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                <div class="center">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control", id = "searchText" })
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Buscar!</button>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="features">
                @if (Model.Answers.Count.Equals(0) || Model.Answers == null)
                {
                    <div class="col-md-4 col-sm-6 fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Nenhuma pergunta relacionada!</h2>
                            <h3>Faça a sua pergunta específica abaixo, que tentamos responder o mais rápido possivel!</h3>
                        </div>
                    </div>
                }
                else
                {
                    foreach (var answer in Model.Answers)
                    {
                        <div class="col-md-4 col-sm-6 fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-comment"></i>
                                <h2>@answer.Question</h2>
                                <h3>@answer.Answer</h3>
                                <h6>@answer.AnswerDate.Value.ToString("d")</h6>
                            </div>
                        </div>
                    }
                }
            </div>
        </div> 
    </div>
</section>
<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="center">
            <h2>Mande a sua pergunta para nós!</h2>
            <p class="lead">Responderemos o mais rápido possível. Prazo de resposta de uma semana útil.</p>
        </div>
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("SendQuestion", "Faq", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                <div class="center">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Question, new { @class = "form-control", id = "questionText" })
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Enviar!</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

