﻿@model BuenoOffice.ViewModels.Car.MyCarsViewModel
@{
    ViewBag.Title = "Meus carros";
}

<section id="feature">
    <div class="container">
        <div class="center">
            <h2>Meus carros</h2>
            <div class="mycars panel-group" id="accordion1">
                @if (Model.Cars != null && !Model.Cars.Count.Equals(0))
                {
                    foreach (var car in Model.Cars)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading active">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                        @car.Version
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="media accordion-inner">
                                        <div class="media-body">
                                            <h4><b>Versão: </b>@car.Version</h4>
                                            <h4><b>Ano de Fabricação: </b>@car.ManufactureYear.ToString()</h4>
                                            <h4><b>Ano do Modelo: </b>@car.ModelYear.ToString()</h4>
                                            <h4><b>Cor: </b>@car.Color</h4>
                                            <h4><b>Câmbio: </b>@car.Conversion</h4>
                                            @if (car.Mileage != null)
                                            {
                                                <h4><b>Quilometragem: </b>@car.Mileage.ToString()</h4>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="lead">Você não tem ainda nenhum carro cadastrado!</p>
                }
            </div>
        </div>
    </div>
</section>

@Html.Partial("_NewCar", Model)
