﻿@using System.Web.Script.Serialization
@{
    var serializer = new JavaScriptSerializer();
    var identity = ((System.Security.Principal.GenericPrincipal)User).Identity;
    var formsIdentity = identity as FormsIdentity;
    var userRole = "Cliente";
    if (formsIdentity != null && formsIdentity.Ticket != null && !string.IsNullOrEmpty(formsIdentity.Ticket.UserData))
    {
        userRole = serializer.DeserializeObject(formsIdentity.Ticket.UserData).ToString();
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bueno Office System" />
    <meta name="author" content="Sérgio Bueno" />

    <title>@ViewBag.Title - Mecânica Bueno</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>
    <script src="~/Scripts/wow.min.js" type="text/javascript"></script>
</head>
<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="top-number"><p><i class="fa fa-thumbs-up"></i> Fique por dentro! </p></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/sergio.dacostabueno"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="bueno-office-logo" src="~/Images/Layout/logo-oficial.png" alt="logo">
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Orçamento", "Index", "Home")</li>
                            <li>@Html.ActionLink("Serviços", "Index", "Home")</li>
                        }
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Outros <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                @if (userRole.Equals("Administrador"))
                                {
                                    <li>@Html.ActionLink("Gerenciar FAQ", "FaqManager", "Faq")</li>
                                    <li>@Html.ActionLink("Cadastrar Funcionário", "Employee", "User")</li>
                                    <li>@Html.ActionLink("Gerenciar Funcionários", "EmployeeManagement", "User")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("FAQ", "Index", "Faq")</li>
                                }
                                <li>@Html.ActionLink("Contato", "Index", "Contact")</li>
                                <li>@Html.ActionLink("Sobre", "Index", "About")</li>
                            </ul>
                        </li>
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Criar conta", "Registration", "User")</li>
                        }
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Minha conta <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                @if (Request.IsAuthenticated)
                                {
                                    <li>@Html.ActionLink("Meus carros", "Index", "Car")</li>
                                    <li><a href="#">Orçamentos</a></li>
                                    <li><a href="#">Serviços</a></li>
                                    <li>@Html.ActionLink("Alterar perfil", "EditUser", "User")</li>
                                    <li>@Html.ActionLink("Alterar senha", "ResetPassword", "User")</li>
                                    <li>@Html.ActionLink("Sair", "Logout", "User", null, new { style = "background-color: red;" })</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Acessar", "Index", "User", null, new { style = "background-color: green;" })</li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2017. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "Index", "About")</li>
                        <li>@Html.ActionLink("Faq", "Index", "Faq")</li>
                        <li>@Html.ActionLink("Contato", "Index", "Contact")</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>