﻿@model BuenoOffice.ViewModels.Car.MyCarsViewModel
    
<script src="~/Scripts/car.js" type="text/javascript"></script>

<section id="contact-page">
    <div class="container">
        <br />
        <br />
        <div class="center">
            <h2>Cadastre um novo carro a sua conta!</h2>
            <p class="lead">Preencha as informações abaixo para vincular um novo veiculo a sua conta.</p>
        </div>
        <div class="row contact-wrap">
            <div class="alert alert-success" style="display: none"></div>
            @using (Html.BeginForm("CreateCar", "Car", FormMethod.Post, new { @class = "contact-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.SelectBrandId, new { id = "brandLabel" })
                        @Html.DropDownListFor(m => m.NewCar.SelectBrandId, Model.NewCar.Brands, "Escolha a marca...", new { @class = "form-control", id = "brandDropDown" })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.SelectBrandId)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.SelectModelId, new { id = "modelLabel" })
                        @Html.DropDownListFor(m => m.NewCar.SelectModelId, Model.NewCar.Models, "Escolha o modelo...", new { @class = "form-control", id = "modelDropDown" })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.SelectModelId)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.SelectVersionId, new { id = "versionLabel" })
                        @Html.DropDownListFor(m => m.NewCar.SelectVersionId, Model.NewCar.Versions, "Escolha a versão...", new { @class = "form-control", id = "versionDropDown" })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.SelectVersionId)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.SelectColorId, new { id = "colorLabel" })
                        @Html.DropDownListFor(m => m.NewCar.SelectColorId, Model.NewCar.Colors, "Escolha a cor...", new { @class = "form-control", id = "colorDropDown" })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.SelectColorId)
                        </p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.SelectConversionId, new { id = "conversionLabel" })
                        @Html.DropDownListFor(m => m.NewCar.SelectConversionId, Model.NewCar.Conversions, "Escolha o câmbio...", new { @class = "form-control", id = "conversionDropDown" })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.SelectConversionId)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.ManufactureYear, new {id = "manufactureYearLabel" })
                        @Html.EditorFor(m => m.NewCar.ManufactureYear, new {htmlAttributes = new {@class = "form-control", id = "manufactureYearNumber" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.ManufactureYear)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.ModelYear, new { id = "modelYearLabel" })
                        @Html.EditorFor(m => m.NewCar.ModelYear, new { htmlAttributes = new { @class = "form-control", id = "modelYearNumber" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.ModelYear)
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewCar.Mileage, new { id = "mileageLabel" })
                        @Html.EditorFor(m => m.NewCar.Mileage, new { htmlAttributes = new { @class = "form-control", id = "mileageNumber" } })
                        <p class="alert-error">
                            @Html.ValidationMessageFor(m => m.NewCar.Mileage)
                        </p>
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Cadastrar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
