﻿@{
    ViewBag.Title = "Página Inicial";
}

<section id="main-slider" class="no-margin">
    <div class="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(../../Images/Home/car-on-the-road.jpeg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Promoção de revisão de verão.</h1>
                                <h2 class="animation animated-item-2">Faça a sua revisão completa por apenas R$: 50,00 reais!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(../../Images/Home/engine-oil-topup.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Troca de óleo rápida</h1>
                                <h2 class="animation animated-item-2">Faça sua troca de óleo em menos de 30 minutos.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(../../Images/Home/inspection.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Garantia de aprovação na espeção veicular</h1>
                                <h2 class="animation animated-item-2">Revisão e garantia no simulador de emissão de carbono.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>
<div class="clients-area center fadeInDown">
    <h2>
        O que nossos clientes acham dos nossos serviços
    </h2>
    <p class="lead">
        Opiniões de clientes que usufruiram do vasto leque de nossos serviçoes ultimamente.
    </p>
</div>
<div class="container">
    <div class="col-md-4 fadeInDown">
        <div class="clients-comments text-center">
            <img src="../../Images/Home/client1.png" class="img-circle" alt="">
            <h3>
                Muito bom, adorei e recomendo!
            </h3>
            <h4>
                <span>- Carlos Eduardo</span>
            </h4>
        </div>
    </div>
    <div class="col-md-4 fadeInDown">
        <div class="clients-comments text-center">
            <img src="../../Images/Home/client2.png" class="img-circle" alt="">
            <h3>
                Sou cliente a nos e continuarei sendo.
            </h3>
            <h4>
                <span>- Matheus Gorino</span>
            </h4>
        </div>
    </div>
    <div class="col-md-4 fadeInDown">
        <div class="clients-comments text-center">
            <img src="../../Images/Home/client3.png" class="img-circle" alt="">
            <h3>
                Otimos profissionais.
            </h3>
            <h4>
                <span>- William Santana</span>
            </h4>
        </div>
    </div>
</div>

